<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountsVersion</key>
	<integer>26</integer>
	<key>DeliveryAccounts</key>
	<array>
		<dict>
			<key>AccountName</key>
			<string>Gmail</string>
			<key>AccountType</key>
			<string>SMTPAccount</string>
			<key>ConfigureDynamically</key>
			<true/>
			<key>Hostname</key>
			<string>smtp.gmail.com</string>
			<key>IsSyncable</key>
			<true/>
			<key>MaxMessageBytes</key>
			<integer>35882577</integer>
			<key>PortNumber</key>
			<string>587</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>2</integer>
			<key>ShouldUseAuthentication</key>
			<string>YES</string>
			<key>UseDefaultPorts</key>
			<string>YES</string>
			<key>Username</key>
			<string>roman.priebe@gmail.com</string>
			<key>uniqueId</key>
			<string>4d1c2ff9-f041-4742-9441-9e2024647b9d</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>Mittwald</string>
			<key>AccountType</key>
			<string>SMTPAccount</string>
			<key>ConfigureDynamically</key>
			<true/>
			<key>Hostname</key>
			<string>mail51.mittwald.de</string>
			<key>MaxMessageBytes</key>
			<integer>35840000</integer>
			<key>PortNumber</key>
			<string>465</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>ShouldUseAuthentication</key>
			<string>YES</string>
			<key>UseDefaultPorts</key>
			<string>YES</string>
			<key>Username</key>
			<string>p112367p32</string>
			<key>uniqueId</key>
			<string>270A6460-1FA9-4DA1-9679-0B01DE92F641</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>Mynigma Donations</string>
			<key>AccountType</key>
			<string>SMTPAccount</string>
			<key>ConfigureDynamically</key>
			<true/>
			<key>Hostname</key>
			<string>smtp.zoho.com</string>
			<key>IsSyncable</key>
			<true/>
			<key>MaxMessageBytes</key>
			<integer>25000000</integer>
			<key>PortNumber</key>
			<string>465</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>ShouldUseAuthentication</key>
			<string>YES</string>
			<key>UseDefaultPorts</key>
			<string>YES</string>
			<key>Username</key>
			<string>thankyou@mynigma.org</string>
			<key>uniqueId</key>
			<string>0f1d7336-b741-47bc-bab6-d6cd1806e9be</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>Mynigma Outgoing</string>
			<key>AccountType</key>
			<string>SMTPAccount</string>
			<key>ConfigureDynamically</key>
			<true/>
			<key>Hostname</key>
			<string>smtp.zoho.com</string>
			<key>IsSyncable</key>
			<true/>
			<key>MaxMessageBytes</key>
			<integer>25000000</integer>
			<key>PortNumber</key>
			<string>465</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>ShouldUseAuthentication</key>
			<string>YES</string>
			<key>UseDefaultPorts</key>
			<string>YES</string>
			<key>Username</key>
			<string>rrrr345634</string>
			<key>uniqueId</key>
			<string>590b919d-5048-4244-9cda-2ceca63740ff</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>Mynigma Personal</string>
			<key>AccountType</key>
			<string>SMTPAccount</string>
			<key>ConfigureDynamically</key>
			<true/>
			<key>Hostname</key>
			<string>smtp.zoho.com</string>
			<key>IsSyncable</key>
			<true/>
			<key>MaxMessageBytes</key>
			<integer>25000000</integer>
			<key>PortNumber</key>
			<string>465</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>ShouldUseAuthentication</key>
			<string>YES</string>
			<key>UseDefaultPorts</key>
			<string>YES</string>
			<key>Username</key>
			<string>roman@mynigma.org</string>
			<key>uniqueId</key>
			<string>56018e43-7c49-41fe-a4b6-01b622538f5c</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>yahoo.de</string>
			<key>AccountType</key>
			<string>SMTPAccount</string>
			<key>ConfigureDynamically</key>
			<true/>
			<key>Hostname</key>
			<string>smtp.mail.yahoo.com</string>
			<key>MaxMessageBytes</key>
			<integer>41697280</integer>
			<key>PortNumber</key>
			<string>465</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>ShouldUseAuthentication</key>
			<string>YES</string>
			<key>UseDefaultPorts</key>
			<string>YES</string>
			<key>Username</key>
			<string>w.schuettelspeer@yahoo.de</string>
			<key>uniqueId</key>
			<string>B60AA96C-0DD9-4D04-BC94-E6AB3E77616E</string>
		</dict>
	</array>
	<key>MailAccounts</key>
	<array>
		<dict>
			<key>AccountName</key>
			<string>iCloud</string>
			<key>AccountPath</key>
			<string>~/Library/Mail/V2/AosIMAP-roman.priebe</string>
			<key>AccountType</key>
			<string>AosImapAccount</string>
			<key>ArchiveMailboxName</key>
			<string>Archive</string>
			<key>AuthenticationScheme</key>
			<string>ATOKEN</string>
			<key>CompactWhenClosingMailboxes</key>
			<string>YES</string>
			<key>ConfigureDynamically</key>
			<false/>
			<key>DateOfLastDraftCleanup</key>
			<date>2014-10-23T15:13:47Z</date>
			<key>DateOfLastSync</key>
			<date>2014-11-05T10:10:52Z</date>
			<key>DaysBetweenSyncs</key>
			<integer>1</integer>
			<key>DidUpdateToAppleToken</key>
			<string>YES</string>
			<key>DraftsMailboxName</key>
			<string>Drafts</string>
			<key>EmailAddresses</key>
			<array>
				<string>roman.priebe@me.com</string>
			</array>
			<key>EmailAliases</key>
			<array>
				<dict>
					<key>alias</key>
					<string>roman.priebe@me.com</string>
					<key>name</key>
					<string>Roman Priebe</string>
				</dict>
				<dict>
					<key>alias</key>
					<string>roman.priebe@icloud.com</string>
					<key>name</key>
					<string>Roman Priebe</string>
				</dict>
			</array>
			<key>FullUserName</key>
			<string>Roman Priebe</string>
			<key>IsSyncable</key>
			<true/>
			<key>JunkMailboxName</key>
			<string>Junk</string>
			<key>LastSuccessfulAosSmtpPortNumber</key>
			<integer>587</integer>
			<key>NotesMailboxName</key>
			<string>Notes</string>
			<key>PortNumber</key>
			<string>993</string>
			<key>SMTPIdentifier</key>
			<string>smtp.gmail.com:roman.priebe@gmail.com</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>SentMessagesMailboxName</key>
			<string>Sent Messages</string>
			<key>StoreDraftsOnServer</key>
			<string>YES</string>
			<key>StoreSentMessagesOnServer</key>
			<string>YES</string>
			<key>ToDosMailboxName</key>
			<string>Apple Mail To Do</string>
			<key>TrashMailboxName</key>
			<string>Deleted Messages</string>
			<key>Username</key>
			<string>roman.priebe</string>
			<key>uniqueId</key>
			<string>059ad733-6772-4f28-8d90-a2d72bb2e22e</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>Gmail</string>
			<key>AccountPath</key>
			<string>~/Library/Mail/V2/IMAP-roman.priebe@imap.gmail.com</string>
			<key>AccountType</key>
			<string>IMAPAccount</string>
			<key>ArchiveMailboxName</key>
			<string>[Google Mail]/All Mail</string>
			<key>CompactWhenClosingMailboxes</key>
			<string>YES</string>
			<key>ConfigureDynamically</key>
			<false/>
			<key>DateOfLastDraftCleanup</key>
			<date>2014-10-27T23:30:37Z</date>
			<key>DateOfLastSync</key>
			<date>2014-11-04T09:14:01Z</date>
			<key>DaysBetweenSyncs</key>
			<integer>7</integer>
			<key>DraftsMailboxName</key>
			<string>[Google Mail]/Drafts</string>
			<key>EmailAddresses</key>
			<array>
				<string>roman.priebe@gmail.com</string>
			</array>
			<key>FullUserName</key>
			<string>Roman Priebe</string>
			<key>GmailCapabilitiesSupport</key>
			<integer>1</integer>
			<key>HasServerDefinedAllMailMailbox</key>
			<string>YES</string>
			<key>HasServerDefinedArchiveMailbox</key>
			<string>YES</string>
			<key>HasServerDefinedDraftsMailbox</key>
			<string>YES</string>
			<key>HasServerDefinedJunkMailbox</key>
			<string>YES</string>
			<key>HasServerDefinedSentMailbox</key>
			<string>YES</string>
			<key>HasServerDefinedTrashMailbox</key>
			<string>YES</string>
			<key>Hostname</key>
			<string>imap.gmail.com</string>
			<key>ISPAccountID</key>
			<string>IMAP</string>
			<key>IsSyncable</key>
			<true/>
			<key>JunkMailboxName</key>
			<string>[Google Mail]/Spam</string>
			<key>NotesMailboxName</key>
			<string>Notes</string>
			<key>PortNumber</key>
			<string>993</string>
			<key>SMTPIdentifier</key>
			<string>smtp.gmail.com:roman.priebe@gmail.com</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>SentMessagesMailboxName</key>
			<string>[Google Mail]/Sent Mail</string>
			<key>ServerID</key>
			<dict>
				<key>name</key>
				<string>GImap</string>
				<key>vendor</key>
				<string>Google, Inc.</string>
			</dict>
			<key>ShouldUseGmailLabelStores</key>
			<string>YES</string>
			<key>StoreDraftsOnServer</key>
			<string>YES</string>
			<key>StoreSentMessagesOnServer</key>
			<string>YES</string>
			<key>ToDosMailboxName</key>
			<string>Apple Mail To Do</string>
			<key>TrashMailboxName</key>
			<string>[Google Mail]/Bin</string>
			<key>Username</key>
			<string>roman.priebe</string>
			<key>uniqueId</key>
			<string>a281e9bf-49d3-4d0a-9837-f1c444d35ad1</string>
		</dict>
		<dict>
			<key>AccountPath</key>
			<string>~/Library/Mail/V2/Mailboxes</string>
			<key>AccountType</key>
			<string>LocalAccount</string>
			<key>ArchiveMailboxName</key>
			<string>Archive</string>
			<key>ConfigureDynamically</key>
			<false/>
			<key>DraftsMailboxName</key>
			<string>Drafts</string>
			<key>IsSyncable</key>
			<true/>
			<key>JunkMailboxName</key>
			<string>Junk</string>
			<key>NotesMailboxName</key>
			<string>Notes</string>
			<key>SentMessagesMailboxName</key>
			<string>Sent Messages</string>
			<key>TrashMailboxName</key>
			<string>Deleted Messages</string>
			<key>uniqueId</key>
			<string>LocalAccountId</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>Yahoo!</string>
			<key>AccountPath</key>
			<string>~/Library/Mail/V2/IMAP-w.schuettelspeer@yahoo.de@imap.mail.yahoo.com</string>
			<key>AccountType</key>
			<string>IMAPAccount</string>
			<key>ArchiveMailboxName</key>
			<string>Archive</string>
			<key>ConfigureDynamically</key>
			<false/>
			<key>DateOfLastDraftCleanup</key>
			<date>2014-05-21T22:49:27Z</date>
			<key>DateOfLastSync</key>
			<date>2014-11-05T13:50:04Z</date>
			<key>DaysBetweenSyncs</key>
			<integer>1</integer>
			<key>DraftsMailboxName</key>
			<string>Drafts</string>
			<key>EmailAddresses</key>
			<array>
				<string>w.schuettelspeer@yahoo.de</string>
			</array>
			<key>FullUserName</key>
			<string>Roman Priebe</string>
			<key>Hostname</key>
			<string>imap.mail.yahoo.com</string>
			<key>JunkMailboxName</key>
			<string>Junk</string>
			<key>NotesMailboxName</key>
			<string>Notes</string>
			<key>PortNumber</key>
			<string>993</string>
			<key>SMTPIdentifier</key>
			<string>smtp.mail.yahoo.com:w.schuettelspeer@yahoo.de</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>SentMessagesMailboxName</key>
			<string>Sent Messages</string>
			<key>ServerID</key>
			<dict>
				<key>name</key>
				<string>imapgate</string>
				<key>version</key>
				<string>1.7.2_01.594742</string>
			</dict>
			<key>StoreDraftsOnServer</key>
			<string>YES</string>
			<key>StoreSentMessagesOnServer</key>
			<string>YES</string>
			<key>ToDosMailboxName</key>
			<string>Apple Mail To Do</string>
			<key>TrashMailboxName</key>
			<string>Deleted Messages</string>
			<key>Username</key>
			<string>w.schuettelspeer@yahoo.de</string>
			<key>uniqueId</key>
			<string>F6679003-A19C-49D9-AB84-C29183D3AC93</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>Mynigma Info</string>
			<key>AccountPath</key>
			<string>~/Library/Mail/V2/IMAP-rrrr345634@imap.zoho.com</string>
			<key>AccountType</key>
			<string>IMAPAccount</string>
			<key>ArchiveMailboxName</key>
			<string>Archive</string>
			<key>CompactWhenClosingMailboxes</key>
			<string>YES</string>
			<key>ConfigureDynamically</key>
			<false/>
			<key>DateOfLastDraftCleanup</key>
			<date>2014-10-29T19:06:10Z</date>
			<key>DateOfLastSync</key>
			<date>2014-11-05T13:44:22Z</date>
			<key>DaysBetweenSyncs</key>
			<integer>1</integer>
			<key>DraftsMailboxName</key>
			<string>Drafts</string>
			<key>EmailAddresses</key>
			<array>
				<string>info@mynigma.org</string>
			</array>
			<key>FullUserName</key>
			<string>mynigma info</string>
			<key>Hostname</key>
			<string>imap.zoho.com</string>
			<key>IsSyncable</key>
			<true/>
			<key>JunkMailboxName</key>
			<string>Junk</string>
			<key>NotesMailboxName</key>
			<string>Notes</string>
			<key>PortNumber</key>
			<string>993</string>
			<key>SMTPIdentifier</key>
			<string>smtp.zoho.com:rrrr345634</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SentMessagesMailboxName</key>
			<string>Sent Messages</string>
			<key>ServerID</key>
			<dict>
				<key>name</key>
				<string>zoho imap</string>
				<key>vendor</key>
				<string>zoho corporation</string>
			</dict>
			<key>StoreDraftsOnServer</key>
			<string>YES</string>
			<key>StoreSentMessagesOnServer</key>
			<string>YES</string>
			<key>ToDosMailboxName</key>
			<string>Apple Mail To Do</string>
			<key>TrashMailboxName</key>
			<string>Deleted Messages</string>
			<key>Username</key>
			<string>rrrr345634</string>
			<key>uniqueId</key>
			<string>81366cee-4c08-44c4-aa5a-8d29224128b5</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>Mynigma Personal</string>
			<key>AccountPath</key>
			<string>~/Library/Mail/V2/IMAP-roman@mynigma.org@imap.zoho.com</string>
			<key>AccountType</key>
			<string>IMAPAccount</string>
			<key>ArchiveMailboxName</key>
			<string>Archive</string>
			<key>CompactWhenClosingMailboxes</key>
			<string>YES</string>
			<key>ConfigureDynamically</key>
			<false/>
			<key>DateOfLastDraftCleanup</key>
			<date>2014-11-04T11:09:28Z</date>
			<key>DateOfLastSync</key>
			<date>2014-11-05T11:55:39Z</date>
			<key>DaysBetweenSyncs</key>
			<integer>1</integer>
			<key>DraftsMailboxName</key>
			<string>Drafts</string>
			<key>EmailAddresses</key>
			<array>
				<string>roman@mynigma.org</string>
			</array>
			<key>FullUserName</key>
			<string>Roman Priebe</string>
			<key>Hostname</key>
			<string>imap.zoho.com</string>
			<key>IsSyncable</key>
			<true/>
			<key>JunkMailboxName</key>
			<string>Junk</string>
			<key>NotesMailboxName</key>
			<string>Notes</string>
			<key>PortNumber</key>
			<string>993</string>
			<key>SMTPIdentifier</key>
			<string>smtp.zoho.com:roman@mynigma.org</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SecurityLayerType</key>
			<integer>3</integer>
			<key>SentMessagesMailboxName</key>
			<string>Sent Messages</string>
			<key>ServerID</key>
			<dict>
				<key>name</key>
				<string>zoho imap</string>
				<key>vendor</key>
				<string>zoho corporation</string>
			</dict>
			<key>StoreDraftsOnServer</key>
			<string>YES</string>
			<key>StoreSentMessagesOnServer</key>
			<string>YES</string>
			<key>ToDosMailboxName</key>
			<string>Apple Mail To Do</string>
			<key>TrashMailboxName</key>
			<string>Deleted Messages</string>
			<key>Username</key>
			<string>roman@mynigma.org</string>
			<key>uniqueId</key>
			<string>4f0259a1-2bfa-414f-929b-c7205c403064</string>
		</dict>
		<dict>
			<key>AccountName</key>
			<string>mynigma@advokat.de</string>
			<key>AccountPath</key>
			<string>~/Library/Mail/V2/IMAP-p112367p32@mail51.mittwald.de</string>
			<key>AccountType</key>
			<string>IMAPAccount</string>
			<key>ArchiveMailboxName</key>
			<string>INBOX/Archive</string>
			<key>ConfigureDynamically</key>
			<false/>
			<key>DateOfLastDraftCleanup</key>
			<date>2014-11-04T09:14:06Z</date>
			<key>DateOfLastSync</key>
			<date>2014-11-05T14:29:04Z</date>
			<key>DaysBetweenSyncs</key>
			<integer>28</integer>
			<key>DraftsMailboxName</key>
			<string>Drafts</string>
			<key>EmailAddresses</key>
			<array>
				<string>mynigma@advokat.de</string>
			</array>
			<key>FullUserName</key>
			<string>Advokat</string>
			<key>Hostname</key>
			<string>mail51.mittwald.de</string>
			<key>JunkMailboxName</key>
			<string>Junk</string>
			<key>NotesMailboxName</key>
			<string>Notes</string>
			<key>PortNumber</key>
			<string>993</string>
			<key>PrefixHasSeparatorRemoved</key>
			<string>YES</string>
			<key>SMTPIdentifier</key>
			<string>mail51.mittwald.de:p112367p32</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>SentMessagesMailboxName</key>
			<string>Sent Messages</string>
			<key>ServerPathPrefix</key>
			<string>INBOX</string>
			<key>StoreDraftsOnServer</key>
			<string>YES</string>
			<key>StoreSentMessagesOnServer</key>
			<string>YES</string>
			<key>ToDosMailboxName</key>
			<string>Apple Mail To Do</string>
			<key>TrashMailboxName</key>
			<string>Deleted Messages</string>
			<key>Username</key>
			<string>p112367p32</string>
			<key>uniqueId</key>
			<string>AA42BB29-2948-404C-8AAD-071577C7CA1F</string>
		</dict>
	</array>
	<key>OutboxMailboxPath</key>
	<string>~/Library/Mail/V2/Mailboxes/Outbox.mbox</string>
</dict>
</plist>
