<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imap.gmx.net</key>
	<dict>
		<key>folder</key>
		<dict>
			<key>INBOX</key>
			<string>inbox</string>
			<key>Gesendet</key>
			<string>sent</string>
			<key>Entwürfe</key>
			<string>drafts</string>
			<key>Gelöscht</key>
			<string>trash</string>
			<key>Spamverdacht</key>
			<string>spam</string>
			<key>Archiv</key>
			<string>archive</string>
		</dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
	<key>imap.gmx.com</key>
	<dict>
		<key>folder</key>
		<dict>
			<key>INBOX</key>
			<string>inbox</string>
			<key>Gesendet</key>
			<string>sent</string>
			<key>Entwürfe</key>
			<string>drafts</string>
			<key>Gelöscht</key>
			<string>trash</string>
			<key>Spamverdacht</key>
			<string>spam</string>
			<key>Archiv</key>
			<string>archive</string>
		</dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
	<key>imap.gmail.com</key>
	<dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
	<key>imap.zoho.com</key>
	<dict>
		<key>folder</key>
		<dict>
			<key>INBOX</key>
			<string>inbox</string>
			<key>Sent</key>
			<string>sent</string>
			<key>Drafts</key>
			<string>drafts</string>
			<key>Trash</key>
			<string>trash</string>
			<key>Spam</key>
			<string>spam</string>
		</dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
	<key>imap.web.de</key>
	<dict>
		<key>folder</key>
		<dict>
			<key>INBOX</key>
			<string>inbox</string>
			<key>Gesendet</key>
			<string>sent</string>
			<key>Papierkorb</key>
			<string>trash</string>
			<key>Entwurf</key>
			<string>drafts</string>
			<key>Spam</key>
			<string>spam</string>
			<key>Postausgang</key>
			<string>outbox</string>
		</dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
	<key>mail51.mittwald.de</key>
	<dict>
		<key>folder</key>
		<dict>
			<key>INBOX</key>
			<string>inbox</string>
			<key>Sent</key>
			<string>sent</string>
			<key>Drafts</key>
			<string>drafts</string>
			<key>Deleted Messages</key>
			<string>trash</string>
			<key>Spam</key>
			<string>spam</string>
		</dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
	<key>imap.mail.yahoo.com</key>
	<dict>
		<key>folder</key>
		<dict>
			<key>INBOX</key>
			<string>inbox</string>
			<key>Sent</key>
			<string>sent</string>
			<key>Drafts</key>
			<string>drafts</string>
			<key>Trash</key>
			<string>trash</string>
			<key>Bulk Mail</key>
			<string>spam</string>
		</dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
	<key>imap.t-online.de</key>
	<dict>
		<key>folder</key>
		<dict>
			<key>INBOX</key>
			<string>inbox</string>
			<key>INBOX.Sent</key>
			<string>sent</string>
			<key>INBOX.Drafts</key>
			<string>drafts</string>
			<key>INBOX.Trash</key>
			<string>trash</string>
			<key>INBOX.Spam</key>
			<string>spam</string>
		</dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
	<key>secureimap.t-online.de</key>
	<dict>
		<key>folder</key>
		<dict>
			<key>INBOX</key>
			<string>inbox</string>
			<key>INBOX.Sent</key>
			<string>sent</string>
			<key>INBOX.Drafts</key>
			<string>drafts</string>
			<key>INBOX.Trash</key>
			<string>trash</string>
			<key>INBOX.Spam</key>
			<string>spam</string>
		</dict>
		<key>sentmsgs</key>
		<false/>
	</dict>
</dict>
</plist>
