<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultPlist</key>
	<dict>
		<key>Attr.AllowedClasses</key>
		<string>nil</string>
		<key>Attr.AllowedFrameTargets</key>
		<string></string>
		<key>Attr.AllowedRel</key>
		<string></string>
		<key>Attr.AllowedRev</key>
		<string></string>
		<key>Attr.ClassUseCDATA</key>
		<string>nil</string>
		<key>Attr.DefaultImageAlt</key>
		<string>nil</string>
		<key>Attr.DefaultInvalidImage</key>
		<string>nil</string>
		<key>Attr.DefaultInvalidImageAlt</key>
		<string>Invalid image</string>
		<key>Attr.DefaultTextDir</key>
		<string>ltr</string>
		<key>Attr.EnableID</key>
		<string>nil</string>
		<key>Attr.ForbiddenClasses</key>
		<string>nil</string>
		<key>Attr.IDBlacklist</key>
		<string></string>
		<key>Attr.IDBlacklistRegexp</key>
		<string>nil</string>
		<key>Attr.IDPrefix</key>
		<string>nil</string>
		<key>Attr.IDPrefixLocal</key>
		<string>nil</string>
		<key>AutoFormat.AutoParagraph</key>
		<string>nil</string>
		<key>AutoFormat.Custom</key>
		<string></string>
		<key>AutoFormat.DisplayLinkURI</key>
		<string>nil</string>
		<key>AutoFormat.Linkify</key>
		<true/>
		<key>AutoFormat.PurifierLinkify</key>
		<string>nil</string>
		<key>AutoFormat.PurifierLinkify.DocURL</key>
		<string>#%s</string>
		<key>AutoFormat.RemoveEmpty</key>
		<string>nil</string>
		<key>AutoFormat.RemoveEmpty.RemoveNbsp</key>
		<string>nil</string>
		<key>AutoFormat.RemoveEmpty.RemoveNbsp.Exceptions</key>
		<dict>
			<key>td</key>
			<string>1</string>
			<key>th</key>
			<string>1</string>
		</dict>
		<key>AutoFormat.RemoveSpansWithoutAttributes</key>
		<string>nil</string>
		<key>CSS.AllowImportant</key>
		<false/>
		<key>CSS.AllowTricky</key>
		<string>nil</string>
		<key>CSS.AllowedFonts</key>
		<string>nil</string>
		<key>CSS.AllowedProperties</key>
		<string>nil</string>
		<key>CSS.DefinitionRev</key>
		<string>1</string>
		<key>CSS.ForbiddenProperties</key>
		<string></string>
		<key>CSS.MaxImgLength</key>
		<string>1200px</string>
		<key>CSS.Proprietary</key>
		<string>nil</string>
		<key>CSS.Trusted</key>
		<string>nil</string>
		<key>Cache.DefinitionImpl</key>
		<string>Serializer</string>
		<key>Cache.SerializerPath</key>
		<string>nil</string>
		<key>Cache.SerializerPermissions</key>
		<string>493</string>
		<key>Core.AggressivelyFixLt</key>
		<true/>
		<key>Core.AllowHostnameUnderscore</key>
		<string>nil</string>
		<key>Core.CollectErrors</key>
		<string>nil</string>
		<key>Core.ColorKeywords</key>
		<dict>
			<key>aqua</key>
			<string>#00FFFF</string>
			<key>black</key>
			<string>#000000</string>
			<key>blue</key>
			<string>#0000FF</string>
			<key>fuchsia</key>
			<string>#FF00FF</string>
			<key>gray</key>
			<string>#808080</string>
			<key>green</key>
			<string>#008000</string>
			<key>lime</key>
			<string>#00FF00</string>
			<key>maroon</key>
			<string>#800000</string>
			<key>navy</key>
			<string>#000080</string>
			<key>olive</key>
			<string>#808000</string>
			<key>orange</key>
			<string>#FFA500</string>
			<key>purple</key>
			<string>#800080</string>
			<key>red</key>
			<string>#FF0000</string>
			<key>silver</key>
			<string>#C0C0C0</string>
			<key>teal</key>
			<string>#008080</string>
			<key>white</key>
			<string>#FFFFFF</string>
			<key>yellow</key>
			<string>#FFFF00</string>
		</dict>
		<key>Core.ConvertDocumentToFragment</key>
		<string>1</string>
		<key>Core.DirectLexLineNumberSyncInterval</key>
		<string>nil</string>
		<key>Core.DisableExcludes</key>
		<string>NO</string>
		<key>Core.EnableIDNA</key>
		<string>nil</string>
		<key>Core.Encoding</key>
		<integer>4</integer>
		<key>Core.EscapeInvalidChildren</key>
		<string>nil</string>
		<key>Core.EscapeInvalidTags</key>
		<false/>
		<key>Core.EscapeNonASCIICharacters</key>
		<string>nil</string>
		<key>Core.HiddenElements</key>
		<dict>
			<key>title</key>
			<string>1</string>
			<key>script</key>
			<string>1</string>
			<key>style</key>
			<string>1</string>
		</dict>
		<key>Core.Language</key>
		<string>en</string>
		<key>Core.LexerImpl</key>
		<string>nil</string>
		<key>Core.MaintainLineNumbers</key>
		<string>nil</string>
		<key>Core.NormalizeNewlines</key>
		<true/>
		<key>Core.RemoveInvalidImg</key>
		<true/>
		<key>Core.RemoveProcessingInstructions</key>
		<string>nil</string>
		<key>Core.RemoveScriptContents</key>
		<string>nil</string>
		<key>Filter.Custom</key>
		<string>nil</string>
		<key>Filter.ExtractStyleBlocks</key>
		<string>nil</string>
		<key>Filter.ExtractStyleBlocks.Escaping</key>
		<string>1</string>
		<key>Filter.ExtractStyleBlocks.Scope</key>
		<string>nil</string>
		<key>Filter.ExtractStyleBlocks.TidyImpl</key>
		<string>nil</string>
		<key>Filter.YouTube</key>
		<string>nil</string>
		<key>HTML.Allowed</key>
		<string>nil</string>
		<key>HTML.AllowedAttributes</key>
		<string>nil</string>
		<key>HTML.AllowedComments</key>
		<string></string>
		<key>HTML.AllowedCommentsRegexp</key>
		<string>nil</string>
		<key>HTML.AllowedElements</key>
		<string>nil</string>
		<key>HTML.AllowedModules</key>
		<string>nil</string>
		<key>HTML.Attr.Name.UseCDATA</key>
		<string>nil</string>
		<key>HTML.BlockWrapper</key>
		<string>p</string>
		<key>HTML.CoreModules</key>
		<dict>
			<key>CommonAttributes</key>
			<string>1</string>
			<key>Hypertext</key>
			<string>1</string>
			<key>List</key>
			<string>1</string>
			<key>NonXMLCommonAttributes</key>
			<string>1</string>
			<key>Structure</key>
			<string>1</string>
			<key>Text</key>
			<string>1</string>
			<key>XMLCommonAttributes</key>
			<string>1</string>
		</dict>
		<key>HTML.CustomDoctype</key>
		<string>nil</string>
		<key>HTML.DefinitionID</key>
		<string>nil</string>
		<key>HTML.DefinitionRev</key>
		<string>1</string>
		<key>HTML.Doctype</key>
		<string>nil</string>
		<key>HTML.FlashAllowFullScreen</key>
		<string>nil</string>
		<key>HTML.ForbiddenAttributes</key>
		<string></string>
		<key>HTML.ForbiddenElements</key>
		<string>nil</string>
		<key>HTML.MaxImgLength</key>
		<string>1200</string>
		<key>HTML.Nofollow</key>
		<string>nil</string>
		<key>HTML.Parent</key>
		<string>div</string>
		<key>HTML.Proprietary</key>
		<string>nil</string>
		<key>HTML.SafeEmbed</key>
		<string>nil</string>
		<key>HTML.SafeIframe</key>
		<string>nil</string>
		<key>HTML.SafeObject</key>
		<string>nil</string>
		<key>HTML.SafeScripting</key>
		<string>nil</string>
		<key>HTML.Strict</key>
		<string>nil</string>
		<key>HTML.TargetBlank</key>
		<string>nil</string>
		<key>HTML.TidyAdd</key>
		<string></string>
		<key>HTML.TidyLevel</key>
		<string>medium</string>
		<key>HTML.TidyRemove</key>
		<string></string>
		<key>HTML.Trusted</key>
		<string>nil</string>
		<key>HTML.XHTML</key>
		<string>1</string>
		<key>Output.CommentScriptContents</key>
		<string>1</string>
		<key>Output.FixInnerHTML</key>
		<string>1</string>
		<key>Output.FlashCompat</key>
		<string>nil</string>
		<key>Output.Newline</key>
		<string>nil</string>
		<key>Output.SortAttr</key>
		<string>nil</string>
		<key>Output.TidyFormat</key>
		<string>nil</string>
		<key>Test.ForceNoIconv</key>
		<string>nil</string>
		<key>URI.AllowedSchemes</key>
		<dict>
			<key>ftp</key>
			<string>1</string>
			<key>http</key>
			<string>1</string>
			<key>https</key>
			<string>1</string>
			<key>mailto</key>
			<string>1</string>
			<key>cid</key>
			<string>1</string>
			<key>news</key>
			<string>1</string>
			<key>nntp</key>
			<string>1</string>
		</dict>
		<key>URI.Base</key>
		<string>nil</string>
		<key>URI.DefaultScheme</key>
		<string>http</string>
		<key>URI.DefinitionID</key>
		<string>nil</string>
		<key>URI.DefinitionRev</key>
		<string>1</string>
		<key>URI.Disable</key>
		<string>nil</string>
		<key>URI.DisableExternal</key>
		<string>nil</string>
		<key>URI.DisableExternalResources</key>
		<string>nil</string>
		<key>URI.DisableResources</key>
		<string>nil</string>
		<key>URI.Host</key>
		<string>nil</string>
		<key>URI.HostBlacklist</key>
		<string></string>
		<key>URI.MakeAbsolute</key>
		<string>nil</string>
		<key>URI.Munge</key>
		<string>nil</string>
		<key>URI.MungeResources</key>
		<string>nil</string>
		<key>URI.MungeSecretKey</key>
		<string>nil</string>
		<key>URI.OverrideAllowedSchemes</key>
		<string>1</string>
		<key>URI.SafeIframeRegexp</key>
		<string>nil</string>
	</dict>
	<key>defaults</key>
	<dict>
		<key>Attr.AllowedClasses</key>
		<string>nil</string>
		<key>Attr.AllowedFrameTargets</key>
		<string></string>
		<key>Attr.AllowedRel</key>
		<string></string>
		<key>Attr.AllowedRev</key>
		<string></string>
		<key>Attr.ClassUseCDATA</key>
		<string>nil</string>
		<key>Attr.DefaultImageAlt</key>
		<string>nil</string>
		<key>Attr.DefaultInvalidImage</key>
		<string>nil</string>
		<key>Attr.DefaultInvalidImageAlt</key>
		<string>Invalid image</string>
		<key>Attr.DefaultTextDir</key>
		<string>ltr</string>
		<key>Attr.EnableID</key>
		<string>nil</string>
		<key>Attr.ForbiddenClasses</key>
		<string></string>
		<key>Attr.IDBlacklist</key>
		<string></string>
		<key>Attr.IDBlacklistRegexp</key>
		<string>nil</string>
		<key>Attr.IDPrefix</key>
		<string>nil</string>
		<key>Attr.IDPrefixLocal</key>
		<string>nil</string>
		<key>AutoFormat.AutoParagraph</key>
		<string>nil</string>
		<key>AutoFormat.Custom</key>
		<string></string>
		<key>AutoFormat.DisplayLinkURI</key>
		<string>nil</string>
		<key>AutoFormat.Linkify</key>
		<string>nil</string>
		<key>AutoFormat.PurifierLinkify</key>
		<string>nil</string>
		<key>AutoFormat.PurifierLinkify.DocURL</key>
		<string>#%s</string>
		<key>AutoFormat.RemoveEmpty</key>
		<string>nil</string>
		<key>AutoFormat.RemoveEmpty.RemoveNbsp</key>
		<string>nil</string>
		<key>AutoFormat.RemoveEmpty.RemoveNbsp.Exceptions</key>
		<dict>
			<key>td</key>
			<string>1</string>
			<key>th</key>
			<string>1</string>
		</dict>
		<key>AutoFormat.RemoveSpansWithoutAttributes</key>
		<string>nil</string>
		<key>CSS.AllowImportant</key>
		<string>nil</string>
		<key>CSS.AllowTricky</key>
		<string>nil</string>
		<key>CSS.AllowedFonts</key>
		<string>nil</string>
		<key>CSS.AllowedProperties</key>
		<string>nil</string>
		<key>CSS.DefinitionRev</key>
		<string>1</string>
		<key>CSS.ForbiddenProperties</key>
		<string></string>
		<key>CSS.MaxImgLength</key>
		<string>1200px</string>
		<key>CSS.Proprietary</key>
		<string>nil</string>
		<key>CSS.Trusted</key>
		<string>nil</string>
		<key>Cache.DefinitionImpl</key>
		<string>Serializer</string>
		<key>Cache.SerializerPath</key>
		<string>nil</string>
		<key>Cache.SerializerPermissions</key>
		<string>493</string>
		<key>Core.AggressivelyFixLt</key>
		<string>1</string>
		<key>Core.AllowHostnameUnderscore</key>
		<string>nil</string>
		<key>Core.CollectErrors</key>
		<string>nil</string>
		<key>Core.ColorKeywords</key>
		<dict>
			<key>aqua</key>
			<string>#00FFFF</string>
			<key>black</key>
			<string>#000000</string>
			<key>blue</key>
			<string>#0000FF</string>
			<key>fuchsia</key>
			<string>#FF00FF</string>
			<key>gray</key>
			<string>#808080</string>
			<key>green</key>
			<string>#008000</string>
			<key>lime</key>
			<string>#00FF00</string>
			<key>maroon</key>
			<string>#800000</string>
			<key>navy</key>
			<string>#000080</string>
			<key>olive</key>
			<string>#808000</string>
			<key>orange</key>
			<string>#FFA500</string>
			<key>purple</key>
			<string>#800080</string>
			<key>red</key>
			<string>#FF0000</string>
			<key>silver</key>
			<string>#C0C0C0</string>
			<key>teal</key>
			<string>#008080</string>
			<key>white</key>
			<string>#FFFFFF</string>
			<key>yellow</key>
			<string>#FFFF00</string>
		</dict>
		<key>Core.ConvertDocumentToFragment</key>
		<string>1</string>
		<key>Core.DirectLexLineNumberSyncInterval</key>
		<string>nil</string>
		<key>Core.DisableExcludes</key>
		<string>NO</string>
		<key>Core.EnableIDNA</key>
		<string>nil</string>
		<key>Core.Encoding</key>
		<integer>4</integer>
		<key>Core.EscapeInvalidChildren</key>
		<string>nil</string>
		<key>Core.EscapeInvalidTags</key>
		<string>nil</string>
		<key>Core.EscapeNonASCIICharacters</key>
		<string>nil</string>
		<key>Core.HiddenElements</key>
		<dict>
			<key>script</key>
			<string>1</string>
			<key>style</key>
			<string>1</string>
		</dict>
		<key>Core.Language</key>
		<string>en</string>
		<key>Core.LexerImpl</key>
		<string>nil</string>
		<key>Core.MaintainLineNumbers</key>
		<string>nil</string>
		<key>Core.NormalizeNewlines</key>
		<string>1</string>
		<key>Core.RemoveInvalidImg</key>
		<string>1</string>
		<key>Core.RemoveProcessingInstructions</key>
		<string>nil</string>
		<key>Core.RemoveScriptContents</key>
		<string>nil</string>
		<key>Filter.Custom</key>
		<string></string>
		<key>Filter.ExtractStyleBlocks</key>
		<string>nil</string>
		<key>Filter.ExtractStyleBlocks.Escaping</key>
		<string>1</string>
		<key>Filter.ExtractStyleBlocks.Scope</key>
		<string>nil</string>
		<key>Filter.ExtractStyleBlocks.TidyImpl</key>
		<string>nil</string>
		<key>Filter.YouTube</key>
		<string>nil</string>
		<key>HTML.Allowed</key>
		<string>nil</string>
		<key>HTML.AllowedAttributes</key>
		<string>nil</string>
		<key>HTML.AllowedComments</key>
		<string></string>
		<key>HTML.AllowedCommentsRegexp</key>
		<string>nil</string>
		<key>HTML.AllowedElements</key>
		<string>nil</string>
		<key>HTML.AllowedModules</key>
		<string>nil</string>
		<key>HTML.Attr.Name.UseCDATA</key>
		<string>nil</string>
		<key>HTML.BlockWrapper</key>
		<string>p</string>
		<key>HTML.CoreModules</key>
		<dict>
			<key>CommonAttributes</key>
			<string>1</string>
			<key>Hypertext</key>
			<string>1</string>
			<key>List</key>
			<string>1</string>
			<key>NonXMLCommonAttributes</key>
			<string>1</string>
			<key>Structure</key>
			<string>1</string>
			<key>Text</key>
			<string>1</string>
			<key>XMLCommonAttributes</key>
			<string>1</string>
		</dict>
		<key>HTML.CustomDoctype</key>
		<string>nil</string>
		<key>HTML.DefinitionID</key>
		<string>nil</string>
		<key>HTML.DefinitionRev</key>
		<string>1</string>
		<key>HTML.Doctype</key>
		<string>nil</string>
		<key>HTML.FlashAllowFullScreen</key>
		<string>nil</string>
		<key>HTML.ForbiddenAttributes</key>
		<string></string>
		<key>HTML.ForbiddenElements</key>
		<string></string>
		<key>HTML.MaxImgLength</key>
		<string>1200</string>
		<key>HTML.Nofollow</key>
		<string>nil</string>
		<key>HTML.Parent</key>
		<string>div</string>
		<key>HTML.Proprietary</key>
		<string>nil</string>
		<key>HTML.SafeEmbed</key>
		<string>nil</string>
		<key>HTML.SafeIframe</key>
		<string>nil</string>
		<key>HTML.SafeObject</key>
		<string>nil</string>
		<key>HTML.SafeScripting</key>
		<string>nil</string>
		<key>HTML.Strict</key>
		<string>nil</string>
		<key>HTML.TargetBlank</key>
		<string>nil</string>
		<key>HTML.TidyAdd</key>
		<string></string>
		<key>HTML.TidyLevel</key>
		<string>medium</string>
		<key>HTML.TidyRemove</key>
		<string></string>
		<key>HTML.Trusted</key>
		<string>nil</string>
		<key>HTML.XHTML</key>
		<string>1</string>
		<key>Output.CommentScriptContents</key>
		<string>1</string>
		<key>Output.FixInnerHTML</key>
		<string>1</string>
		<key>Output.FlashCompat</key>
		<string>nil</string>
		<key>Output.Newline</key>
		<string>nil</string>
		<key>Output.SortAttr</key>
		<string>nil</string>
		<key>Output.TidyFormat</key>
		<string>nil</string>
		<key>Test.ForceNoIconv</key>
		<string>nil</string>
		<key>URI.AllowedSchemes</key>
		<dict>
			<key>cid</key>
			<string>1</string>
			<key>ftp</key>
			<string>1</string>
			<key>http</key>
			<string>1</string>
			<key>https</key>
			<string>1</string>
			<key>mailto</key>
			<string>1</string>
			<key>news</key>
			<string>1</string>
			<key>nntp</key>
			<string>1</string>
		</dict>
		<key>URI.Base</key>
		<string>nil</string>
		<key>URI.DefaultScheme</key>
		<string>http</string>
		<key>URI.DefinitionID</key>
		<string>nil</string>
		<key>URI.DefinitionRev</key>
		<string>1</string>
		<key>URI.Disable</key>
		<string>nil</string>
		<key>URI.DisableExternal</key>
		<string>nil</string>
		<key>URI.DisableExternalResources</key>
		<string>nil</string>
		<key>URI.DisableResources</key>
		<string>nil</string>
		<key>URI.Host</key>
		<string>nil</string>
		<key>URI.HostBlacklist</key>
		<string></string>
		<key>URI.MakeAbsolute</key>
		<string>nil</string>
		<key>URI.Munge</key>
		<string>nil</string>
		<key>URI.MungeResources</key>
		<string>nil</string>
		<key>URI.MungeSecretKey</key>
		<string>nil</string>
		<key>URI.OverrideAllowedSchemes</key>
		<string>1</string>
		<key>URI.SafeIframeRegexp</key>
		<string>nil</string>
	</dict>
	<key>info</key>
	<dict>
		<key>Attr.AllowedClasses</key>
		<string>-8</string>
		<key>Attr.AllowedFrameTargets</key>
		<string>8</string>
		<key>Attr.AllowedRel</key>
		<string>8</string>
		<key>Attr.AllowedRev</key>
		<string>8</string>
		<key>Attr.ClassUseCDATA</key>
		<string>-7</string>
		<key>Attr.DefaultImageAlt</key>
		<string>-1</string>
		<key>Attr.DefaultInvalidImage</key>
		<string>1</string>
		<key>Attr.DefaultInvalidImageAlt</key>
		<string>1</string>
		<key>Attr.DefaultTextDir</key>
		<string>ERR: stdClass</string>
		<key>Attr.DisableURI</key>
		<string>ERR: stdClass</string>
		<key>Attr.EnableID</key>
		<string>7</string>
		<key>Attr.ForbiddenClasses</key>
		<string>8</string>
		<key>Attr.IDBlacklist</key>
		<string>9</string>
		<key>Attr.IDBlacklistRegexp</key>
		<string>-1</string>
		<key>Attr.IDPrefix</key>
		<string>1</string>
		<key>Attr.IDPrefixLocal</key>
		<string>1</string>
		<key>AutoFormat.AutoParagraph</key>
		<string>7</string>
		<key>AutoFormat.Custom</key>
		<string>9</string>
		<key>AutoFormat.DisplayLinkURI</key>
		<string>7</string>
		<key>AutoFormat.Linkify</key>
		<string>7</string>
		<key>AutoFormat.PurifierLinkify</key>
		<string>7</string>
		<key>AutoFormat.PurifierLinkify.DocURL</key>
		<string>1</string>
		<key>AutoFormat.RemoveEmpty</key>
		<string>7</string>
		<key>AutoFormat.RemoveEmpty.RemoveNbsp</key>
		<string>7</string>
		<key>AutoFormat.RemoveEmpty.RemoveNbsp.Exceptions</key>
		<string>8</string>
		<key>AutoFormat.RemoveSpansWithoutAttributes</key>
		<string>7</string>
		<key>AutoFormatParam.PurifierLinkifyDocURL</key>
		<string>ERR: stdClass</string>
		<key>CSS.AllowImportant</key>
		<string>7</string>
		<key>CSS.AllowTricky</key>
		<string>7</string>
		<key>CSS.AllowedFonts</key>
		<string>-8</string>
		<key>CSS.AllowedProperties</key>
		<string>-8</string>
		<key>CSS.DefinitionRev</key>
		<string>5</string>
		<key>CSS.ForbiddenProperties</key>
		<string>8</string>
		<key>CSS.MaxImgLength</key>
		<string>-1</string>
		<key>CSS.Proprietary</key>
		<string>7</string>
		<key>CSS.Trusted</key>
		<string>7</string>
		<key>Cache.DefinitionImpl</key>
		<string>-1</string>
		<key>Cache.SerializerPath</key>
		<string>-1</string>
		<key>Cache.SerializerPermissions</key>
		<string>5</string>
		<key>Core.AcceptFullDocuments</key>
		<string>ERR: stdClass</string>
		<key>Core.AggressivelyFixLt</key>
		<string>7</string>
		<key>Core.AllowHostnameUnderscore</key>
		<string>7</string>
		<key>Core.CollectErrors</key>
		<string>7</string>
		<key>Core.ColorKeywords</key>
		<string>10</string>
		<key>Core.CommentScriptContents</key>
		<string>ERR: stdClass</string>
		<key>Core.ConvertDocumentToFragment</key>
		<string>7</string>
		<key>Core.DefinitionCache</key>
		<string>ERR: stdClass</string>
		<key>Core.DirectLexLineNumberSyncInterval</key>
		<string>5</string>
		<key>Core.DisableExcludes</key>
		<string>0</string>
		<key>Core.EnableIDNA</key>
		<string>7</string>
		<key>Core.Encoding</key>
		<string>2</string>
		<key>Core.EscapeInvalidChildren</key>
		<string>7</string>
		<key>Core.EscapeInvalidTags</key>
		<string>7</string>
		<key>Core.EscapeNonASCIICharacters</key>
		<string>7</string>
		<key>Core.HiddenElements</key>
		<string>8</string>
		<key>Core.Language</key>
		<string>1</string>
		<key>Core.LexerImpl</key>
		<string>-11</string>
		<key>Core.MaintainLineNumbers</key>
		<string>-7</string>
		<key>Core.NormalizeNewlines</key>
		<string>7</string>
		<key>Core.RemoveInvalidImg</key>
		<string>7</string>
		<key>Core.RemoveProcessingInstructions</key>
		<string>7</string>
		<key>Core.RemoveScriptContents</key>
		<string>-7</string>
		<key>Core.TidyFormat</key>
		<string>ERR: stdClass</string>
		<key>Core.XHTML</key>
		<string>ERR: stdClass</string>
		<key>Filter.Custom</key>
		<string>9</string>
		<key>Filter.ExtractStyleBlocks</key>
		<string>7</string>
		<key>Filter.ExtractStyleBlocks.Escaping</key>
		<string>7</string>
		<key>Filter.ExtractStyleBlocks.Scope</key>
		<string>-1</string>
		<key>Filter.ExtractStyleBlocks.TidyImpl</key>
		<string>-11</string>
		<key>Filter.ExtractStyleBlocksEscaping</key>
		<string>ERR: stdClass</string>
		<key>Filter.ExtractStyleBlocksScope</key>
		<string>ERR: stdClass</string>
		<key>Filter.YouTube</key>
		<string>7</string>
		<key>FilterParam.ExtractStyleBlocksEscaping</key>
		<string>ERR: stdClass</string>
		<key>FilterParam.ExtractStyleBlocksScope</key>
		<string>ERR: stdClass</string>
		<key>FilterParam.ExtractStyleBlocksTidyImpl</key>
		<string>ERR: stdClass</string>
		<key>HTML.Allowed</key>
		<string>-4</string>
		<key>HTML.AllowedAttributes</key>
		<string>-8</string>
		<key>HTML.AllowedComments</key>
		<string>8</string>
		<key>HTML.AllowedCommentsRegexp</key>
		<string>-1</string>
		<key>HTML.AllowedElements</key>
		<string>-8</string>
		<key>HTML.AllowedModules</key>
		<string>-8</string>
		<key>HTML.Attr.Name.UseCDATA</key>
		<string>7</string>
		<key>HTML.BlockWrapper</key>
		<string>1</string>
		<key>HTML.CoreModules</key>
		<string>8</string>
		<key>HTML.CustomDoctype</key>
		<string>-1</string>
		<key>HTML.DefinitionID</key>
		<string>-1</string>
		<key>HTML.DefinitionRev</key>
		<string>5</string>
		<key>HTML.Doctype</key>
		<string>ERR: stdClass</string>
		<key>HTML.EnableAttrID</key>
		<string>ERR: stdClass</string>
		<key>HTML.FlashAllowFullScreen</key>
		<string>7</string>
		<key>HTML.ForbiddenAttributes</key>
		<string>8</string>
		<key>HTML.ForbiddenElements</key>
		<string>8</string>
		<key>HTML.MaxImgLength</key>
		<string>-5</string>
		<key>HTML.Nofollow</key>
		<string>7</string>
		<key>HTML.Parent</key>
		<string>1</string>
		<key>HTML.Proprietary</key>
		<string>7</string>
		<key>HTML.SafeEmbed</key>
		<string>7</string>
		<key>HTML.SafeIframe</key>
		<string>7</string>
		<key>HTML.SafeObject</key>
		<string>7</string>
		<key>HTML.SafeScripting</key>
		<string>8</string>
		<key>HTML.Strict</key>
		<string>7</string>
		<key>HTML.TargetBlank</key>
		<string>7</string>
		<key>HTML.TidyAdd</key>
		<string>8</string>
		<key>HTML.TidyLevel</key>
		<string>ERR: stdClass</string>
		<key>HTML.TidyRemove</key>
		<string>8</string>
		<key>HTML.Trusted</key>
		<string>7</string>
		<key>HTML.XHTML</key>
		<string>7</string>
		<key>Output.CommentScriptContents</key>
		<string>7</string>
		<key>Output.FixInnerHTML</key>
		<string>7</string>
		<key>Output.FlashCompat</key>
		<string>7</string>
		<key>Output.Newline</key>
		<string>-1</string>
		<key>Output.SortAttr</key>
		<string>7</string>
		<key>Output.TidyFormat</key>
		<string>7</string>
		<key>Test.ForceNoIconv</key>
		<string>7</string>
		<key>URI.AllowedSchemes</key>
		<dict>
			<key>ftp</key>
			<string>1</string>
			<key>http</key>
			<string>1</string>
			<key>https</key>
			<string>1</string>
			<key>mailto</key>
			<string>1</string>
			<key>cid</key>
			<string>1</string>
			<key>news</key>
			<string>1</string>
			<key>nntp</key>
			<string>1</string>
		</dict>
		<key>URI.Base</key>
		<string>-1</string>
		<key>URI.DefaultScheme</key>
		<string>1</string>
		<key>URI.DefinitionID</key>
		<string>-1</string>
		<key>URI.DefinitionRev</key>
		<string>5</string>
		<key>URI.Disable</key>
		<string>7</string>
		<key>URI.DisableExternal</key>
		<string>7</string>
		<key>URI.DisableExternalResources</key>
		<string>7</string>
		<key>URI.DisableResources</key>
		<string>7</string>
		<key>URI.Host</key>
		<string>-1</string>
		<key>URI.HostBlacklist</key>
		<string>9</string>
		<key>URI.MakeAbsolute</key>
		<string>7</string>
		<key>URI.Munge</key>
		<string>-1</string>
		<key>URI.MungeResources</key>
		<string>7</string>
		<key>URI.MungeSecretKey</key>
		<string>-1</string>
		<key>URI.OverrideAllowedSchemes</key>
		<string>7</string>
		<key>URI.SafeIframeRegexp</key>
		<string>-1</string>
	</dict>
</dict>
</plist>
