<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AElig</key>
	<string>Æ</string>
	<key>Aacute</key>
	<string>Á</string>
	<key>Acirc</key>
	<string>Â</string>
	<key>Agrave</key>
	<string>À</string>
	<key>Alpha</key>
	<string>Α</string>
	<key>Aring</key>
	<string>Å</string>
	<key>Atilde</key>
	<string>Ã</string>
	<key>Auml</key>
	<string>Ä</string>
	<key>Beta</key>
	<string>Β</string>
	<key>Ccedil</key>
	<string>Ç</string>
	<key>Chi</key>
	<string>Χ</string>
	<key>Dagger</key>
	<string>‡</string>
	<key>Delta</key>
	<string>Δ</string>
	<key>ETH</key>
	<string>Ð</string>
	<key>Eacute</key>
	<string>É</string>
	<key>Ecirc</key>
	<string>Ê</string>
	<key>Egrave</key>
	<string>È</string>
	<key>Epsilon</key>
	<string>Ε</string>
	<key>Eta</key>
	<string>Η</string>
	<key>Euml</key>
	<string>Ë</string>
	<key>Gamma</key>
	<string>Γ</string>
	<key>Iacute</key>
	<string>Í</string>
	<key>Icirc</key>
	<string>Î</string>
	<key>Igrave</key>
	<string>Ì</string>
	<key>Iota</key>
	<string>Ι</string>
	<key>Iuml</key>
	<string>Ï</string>
	<key>Kappa</key>
	<string>Κ</string>
	<key>Lambda</key>
	<string>Λ</string>
	<key>Mu</key>
	<string>Μ</string>
	<key>Ntilde</key>
	<string>Ñ</string>
	<key>Nu</key>
	<string>Ν</string>
	<key>OElig</key>
	<string>Œ</string>
	<key>Oacute</key>
	<string>Ó</string>
	<key>Ocirc</key>
	<string>Ô</string>
	<key>Ograve</key>
	<string>Ò</string>
	<key>Omega</key>
	<string>Ω</string>
	<key>Omicron</key>
	<string>Ο</string>
	<key>Oslash</key>
	<string>Ø</string>
	<key>Otilde</key>
	<string>Õ</string>
	<key>Ouml</key>
	<string>Ö</string>
	<key>Phi</key>
	<string>Φ</string>
	<key>Pi</key>
	<string>Π</string>
	<key>Prime</key>
	<string>″</string>
	<key>Psi</key>
	<string>Ψ</string>
	<key>Rho</key>
	<string>Ρ</string>
	<key>Scaron</key>
	<string>Š</string>
	<key>Sigma</key>
	<string>Σ</string>
	<key>THORN</key>
	<string>Þ</string>
	<key>Tau</key>
	<string>Τ</string>
	<key>Theta</key>
	<string>Θ</string>
	<key>Uacute</key>
	<string>Ú</string>
	<key>Ucirc</key>
	<string>Û</string>
	<key>Ugrave</key>
	<string>Ù</string>
	<key>Upsilon</key>
	<string>Υ</string>
	<key>Uuml</key>
	<string>Ü</string>
	<key>Xi</key>
	<string>Ξ</string>
	<key>Yacute</key>
	<string>Ý</string>
	<key>Yuml</key>
	<string>Ÿ</string>
	<key>Zeta</key>
	<string>Ζ</string>
	<key>aacute</key>
	<string>á</string>
	<key>acirc</key>
	<string>â</string>
	<key>acute</key>
	<string>´</string>
	<key>aelig</key>
	<string>æ</string>
	<key>agrave</key>
	<string>à</string>
	<key>alefsym</key>
	<string>ℵ</string>
	<key>alpha</key>
	<string>α</string>
	<key>amp</key>
	<string>&amp;</string>
	<key>and</key>
	<string>∧</string>
	<key>ang</key>
	<string>∠</string>
	<key>apos</key>
	<string>'</string>
	<key>aring</key>
	<string>å</string>
	<key>asymp</key>
	<string>≈</string>
	<key>atilde</key>
	<string>ã</string>
	<key>auml</key>
	<string>ä</string>
	<key>bdquo</key>
	<string>„</string>
	<key>beta</key>
	<string>β</string>
	<key>brvbar</key>
	<string>¦</string>
	<key>bull</key>
	<string>•</string>
	<key>cap</key>
	<string>∩</string>
	<key>ccedil</key>
	<string>ç</string>
	<key>cedil</key>
	<string>¸</string>
	<key>cent</key>
	<string>¢</string>
	<key>chi</key>
	<string>χ</string>
	<key>circ</key>
	<string>ˆ</string>
	<key>clubs</key>
	<string>♣</string>
	<key>cong</key>
	<string>≅</string>
	<key>copy</key>
	<string>©</string>
	<key>crarr</key>
	<string>↵</string>
	<key>cup</key>
	<string>∪</string>
	<key>curren</key>
	<string>¤</string>
	<key>dArr</key>
	<string>⇓</string>
	<key>dagger</key>
	<string>†</string>
	<key>darr</key>
	<string>↓</string>
	<key>deg</key>
	<string>°</string>
	<key>delta</key>
	<string>δ</string>
	<key>diams</key>
	<string>♦</string>
	<key>divide</key>
	<string>÷</string>
	<key>eacute</key>
	<string>é</string>
	<key>ecirc</key>
	<string>ê</string>
	<key>egrave</key>
	<string>è</string>
	<key>empty</key>
	<string>∅</string>
	<key>emsp</key>
	<string> </string>
	<key>ensp</key>
	<string> </string>
	<key>epsilon</key>
	<string>ε</string>
	<key>equiv</key>
	<string>≡</string>
	<key>eta</key>
	<string>η</string>
	<key>eth</key>
	<string>ð</string>
	<key>euml</key>
	<string>ë</string>
	<key>euro</key>
	<string>€</string>
	<key>exist</key>
	<string>∃</string>
	<key>fnof</key>
	<string>ƒ</string>
	<key>forall</key>
	<string>∀</string>
	<key>frac12</key>
	<string>½</string>
	<key>frac14</key>
	<string>¼</string>
	<key>frac34</key>
	<string>¾</string>
	<key>frasl</key>
	<string>⁄</string>
	<key>gamma</key>
	<string>γ</string>
	<key>ge</key>
	<string>≥</string>
	<key>gt</key>
	<string>&gt;</string>
	<key>hArr</key>
	<string>⇔</string>
	<key>harr</key>
	<string>↔</string>
	<key>hearts</key>
	<string>♥</string>
	<key>hellip</key>
	<string>…</string>
	<key>iacute</key>
	<string>í</string>
	<key>icirc</key>
	<string>î</string>
	<key>iexcl</key>
	<string>¡</string>
	<key>igrave</key>
	<string>ì</string>
	<key>image</key>
	<string>ℑ</string>
	<key>infin</key>
	<string>∞</string>
	<key>int</key>
	<string>∫</string>
	<key>iota</key>
	<string>ι</string>
	<key>iquest</key>
	<string>¿</string>
	<key>isin</key>
	<string>∈</string>
	<key>iuml</key>
	<string>ï</string>
	<key>kappa</key>
	<string>κ</string>
	<key>lArr</key>
	<string>⇐</string>
	<key>lambda</key>
	<string>λ</string>
	<key>lang</key>
	<string>〈</string>
	<key>laquo</key>
	<string>«</string>
	<key>larr</key>
	<string>←</string>
	<key>lceil</key>
	<string>⌈</string>
	<key>ldquo</key>
	<string>“</string>
	<key>le</key>
	<string>≤</string>
	<key>lfloor</key>
	<string>⌊</string>
	<key>lowast</key>
	<string>∗</string>
	<key>loz</key>
	<string>◊</string>
	<key>lrm</key>
	<string>‎</string>
	<key>lsaquo</key>
	<string>‹</string>
	<key>lsquo</key>
	<string>‘</string>
	<key>lt</key>
	<string>&lt;</string>
	<key>macr</key>
	<string>¯</string>
	<key>mdash</key>
	<string>—</string>
	<key>micro</key>
	<string>µ</string>
	<key>middot</key>
	<string>·</string>
	<key>minus</key>
	<string>−</string>
	<key>mu</key>
	<string>μ</string>
	<key>nabla</key>
	<string>∇</string>
	<key>nbsp</key>
	<string> </string>
	<key>ndash</key>
	<string>–</string>
	<key>ne</key>
	<string>≠</string>
	<key>ni</key>
	<string>∋</string>
	<key>not</key>
	<string>¬</string>
	<key>notin</key>
	<string>∉</string>
	<key>nsub</key>
	<string>⊄</string>
	<key>ntilde</key>
	<string>ñ</string>
	<key>nu</key>
	<string>ν</string>
	<key>oacute</key>
	<string>ó</string>
	<key>ocirc</key>
	<string>ô</string>
	<key>oelig</key>
	<string>œ</string>
	<key>ograve</key>
	<string>ò</string>
	<key>oline</key>
	<string>‾</string>
	<key>omega</key>
	<string>ω</string>
	<key>omicron</key>
	<string>ο</string>
	<key>oplus</key>
	<string>⊕</string>
	<key>or</key>
	<string>∨</string>
	<key>ordf</key>
	<string>ª</string>
	<key>ordm</key>
	<string>º</string>
	<key>oslash</key>
	<string>ø</string>
	<key>otilde</key>
	<string>õ</string>
	<key>otimes</key>
	<string>⊗</string>
	<key>ouml</key>
	<string>ö</string>
	<key>para</key>
	<string>¶</string>
	<key>part</key>
	<string>∂</string>
	<key>permil</key>
	<string>‰</string>
	<key>perp</key>
	<string>⊥</string>
	<key>phi</key>
	<string>φ</string>
	<key>pi</key>
	<string>π</string>
	<key>piv</key>
	<string>ϖ</string>
	<key>plusmn</key>
	<string>±</string>
	<key>pound</key>
	<string>£</string>
	<key>prime</key>
	<string>′</string>
	<key>prod</key>
	<string>∏</string>
	<key>prop</key>
	<string>∝</string>
	<key>psi</key>
	<string>ψ</string>
	<key>quot</key>
	<string>"</string>
	<key>rArr</key>
	<string>⇒</string>
	<key>radic</key>
	<string>√</string>
	<key>rang</key>
	<string>〉</string>
	<key>raquo</key>
	<string>»</string>
	<key>rarr</key>
	<string>→</string>
	<key>rceil</key>
	<string>⌉</string>
	<key>rdquo</key>
	<string>”</string>
	<key>real</key>
	<string>ℜ</string>
	<key>reg</key>
	<string>®</string>
	<key>rfloor</key>
	<string>⌋</string>
	<key>rho</key>
	<string>ρ</string>
	<key>rlm</key>
	<string>‏</string>
	<key>rsaquo</key>
	<string>›</string>
	<key>rsquo</key>
	<string>’</string>
	<key>sbquo</key>
	<string>‚</string>
	<key>scaron</key>
	<string>š</string>
	<key>sdot</key>
	<string>⋅</string>
	<key>sect</key>
	<string>§</string>
	<key>shy</key>
	<string>­</string>
	<key>sigma</key>
	<string>σ</string>
	<key>sigmaf</key>
	<string>ς</string>
	<key>sim</key>
	<string>∼</string>
	<key>spades</key>
	<string>♠</string>
	<key>sub</key>
	<string>⊂</string>
	<key>sube</key>
	<string>⊆</string>
	<key>sum</key>
	<string>∑</string>
	<key>sup</key>
	<string>⊃</string>
	<key>sup1</key>
	<string>¹</string>
	<key>sup2</key>
	<string>²</string>
	<key>sup3</key>
	<string>³</string>
	<key>supe</key>
	<string>⊇</string>
	<key>szlig</key>
	<string>ß</string>
	<key>tau</key>
	<string>τ</string>
	<key>there4</key>
	<string>∴</string>
	<key>theta</key>
	<string>θ</string>
	<key>thetasym</key>
	<string>ϑ</string>
	<key>thinsp</key>
	<string> </string>
	<key>thorn</key>
	<string>þ</string>
	<key>tilde</key>
	<string>˜</string>
	<key>times</key>
	<string>×</string>
	<key>trade</key>
	<string>™</string>
	<key>uArr</key>
	<string>⇑</string>
	<key>uacute</key>
	<string>ú</string>
	<key>uarr</key>
	<string>↑</string>
	<key>ucirc</key>
	<string>û</string>
	<key>ugrave</key>
	<string>ù</string>
	<key>uml</key>
	<string>¨</string>
	<key>upsih</key>
	<string>ϒ</string>
	<key>upsilon</key>
	<string>υ</string>
	<key>uuml</key>
	<string>ü</string>
	<key>weierp</key>
	<string>℘</string>
	<key>xi</key>
	<string>ξ</string>
	<key>yacute</key>
	<string>ý</string>
	<key>yen</key>
	<string>¥</string>
	<key>yuml</key>
	<string>ÿ</string>
	<key>zeta</key>
	<string>ζ</string>
	<key>zwj</key>
	<string>‍</string>
	<key>zwnj</key>
	<string>‌</string>
</dict>
</plist>
